In [2]:
import pandas as pd

df = pd.read_csv("Sales.csv")
df[:5]

  Fiscal Year          Customer             Product  Color  Sales Amount
0      FY2018  [Not Applicable]    Road-650 Red, 60    Red   295056.0598
1      FY2018  [Not Applicable]    Road-650 Red, 52    Red   135065.7658
2      FY2018  [Not Applicable]  Road-650 Black, 60  Black   133807.3891
3      FY2018  [Not Applicable]  Road-650 Black, 58  Black   234896.9840
4      FY2018  [Not Applicable]  Road-650 Black, 52  Black   293841.0305

In [6]:
from dtale import show as dt_show

dt_show(df)

c:\Users\Sergey\miniconda3\lib\site-packages\dtale\views.py:725: FutureWarning:

['Color'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.